body {
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
}

.right {
    width: 250px;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    height: 100vh;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    position: fixed;
}

.right img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 10px solid grey;
    margin-top: 35px;
}

.menyu ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.menyu ul li {
    list-style-type: none;
    margin: 20px 0px;
    margin-left: -20px
}

.img h1 {
    font-family: "Poppins", sans-serif;
    color: white;
}

.icons {
    color: white;
}

.icons ul i {
    margin-right: 10px;
}

.left {
    position: relative;
    background-image: url(image/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100% - 250px);
    height: 625px;
    top: 0px;
    right: 0px;
    box-sizing: border-box;
    margin-left: 250px;
}

.bir {
    position: absolute;
    top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Poppins", sans-serif;
}

.left h1 {
    font-size: 50px;
}

.left button {
    border-radius: 30px;
    width: 150px;
    height: 50px;
    background: none;
    border: 2px solid #20c997;
    color: #20c997;
    cursor: grab;
}

.shadow {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}


/*  ikinci section  start*/

.container1 {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: #212529;
    margin-left: 250px;
    width: calc(100% - 250px);
    text-align: center;
    position: relative;
}

.arxa {
    font-size: 7em;
    font-family: "Poppins", sans-serif;
    color: #495057;
    position: absolute;
    margin-left: 300px;
    margin-top: 80px;
    font-style: bold;
}

.shadow1 {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.99);
}

.container1 h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 140px;
    position: relative;
    text-align: center;
    margin-left: 60px;
    border-bottom: 3px solid turquoise;
}

.yazi {
    display: flex;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.metnn {}

.yazi .ad {
    color: turquoise;
}

.paragraf {
    color: #ced4da;
    width: 480px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bolum {
    display: flex;
    margin-top: 80px;
    margin-left: 20px;
    justify-content: space-between;
}

.inputs input {
    background: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: none;
    width: 350px;
    font-size: 1.2em;
    height: 50px;
    border-bottom: 1px solid white;
}

.inputs button {
    background-color: turquoise;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    text-decoration: none;
    list-style-type: none;
    border-bottom: none;
}

.button p {
    color: white;
    list-style-type: none;
    border-bottom: none;
    text-decoration: none;
}

.button a {
    list-style-type: none;
    text-decoration: none;
}


/* section 3 start */

.tam {
    display: flex;
}

.bolum {
    display: flex;
}

.tam .icon {
    font-size: 40px;
    color: turquoise;
    width: 90px;
    height: 60px;
    padding: 0px 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: black;
    margin-left: 50px;
}

.tam h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
}

.tam p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.movcud {
    display: flex;
}