.main{

    border: 10px solid red;
    
    width: 900px;
    height: 900px;
    position: absolute;
    margin: 0px auto;
    display: flex;
    background-color: yellow;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    animation-name: main;
    animation-duration: 4s;
    left: 200px;

}
body{
    background-color: blueviolet;
}
.bir{
    background-color: blue;
    border-radius: 50%;
    animation-name: birinc;
    animation-duration: 4s;
    width: 250px;
    height: 250px;
    position: relative;
}
.iki{
    background-color: orangered;
    border-radius: 50%;
    animation-name: ikinci;
    animation-duration: 4s;
    width: 250px;
    height: 250px;
}
.uc{
    background-color: green;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    animation-name: ucuncu;
    animation-duration: 4s;
}
@keyframes birinc{
   0% { background-color: black; left: 0px; top: 0px;}
    25% { background-color: orange; left: 200px; top:200px;}
    50% { background-color: red;  left: 400px; top: 200px;}
    75% { background-color: blue;left: 600px; top: 200px; }
    100% { background-color: white; left: 600px; top: 300px;}
}
@keyframes ikinci{
    
        from{ background-color: white;}
        to { background-color: royalblue;}
}
@keyframes ucuncu{
    from{ background-color: palegreen;}
    to { background-color: blueviolet;}
}
@keyframes main{
    
    from{ background-color: pink;}
    to { background-color:black}
}