<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="stylesheet" href="https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900">
    <link rel="stylesheet" href="link rel=" preconnect href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css



">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css



    ">
</head>

<body>

    <div id="settings" class="settings"><button id="setbtn" class="setbtn"><i onclick="seticon()" class="fa-solid fa-gear"></i></button>
        <div id="sett" class="sett">
            <h2>Color Switcher</h2>
            <div class="setcolors">
                <div onclick="yellow()" class="setcolor"></div>
                <div id="purple" onclick="purple()" class="setcolor"></div>
                <div onclick="green()" class="setcolor"></div>



            </div>
            <div><button class="setbutton">Reset Defalut Teal</button></div>
        </div>
    </div>
    <div class="scroll-button">
        <button type="button" id="btn-back-to-top"><i class="fas fa-chevron-up"></i></button>
    </div>
    <section id="Home">

        <div class="container">
            <div class="yuxari">
                <div class="right">
                    <div class="adlar">
                        <h1>Nurlan </h1>
                        <h1>Cahangirov</h1>
                    </div>
                    <div class="tammenyu">
                        <div id="menyu" class="menyu">
                            <ul>
                                <li><a href="#Home">Home</a></li>
                                <li><a href="#About-Me">About Me</a></li>
                                <li><a href="#WhatIdo">What I do</a></li>
                                <li><a href="#Resume">Resume</a></li>
                                <li><a href="#Portfolio">Portfolio</a></li>
                                <li><a href="#Testimonial">Testimonial</a></li>
                                <li><a href="#Contact">Contact</a></li>
                            </ul>

                        </div>


                    </div>

                    <div class="icons">
                        <ul>
                            <li><a href="https://wa.me/+994514170616"><i class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a href="https://instagram.com/man_jahangiroff?utm_medium=copy_link"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://github.com/nurlan-recebov"><i class="fa-brands fa-github"></i></a></li>
                        </ul>
                    </div>

                    <div onclick="myFunction()" id="bars" class="bars"><i id="bar" class="fas fa-bars"></i></div>

                </div>


            </div>

            <div onclick="nurlan()" class="left">
                <div id="menu" class="menu">
                    <ul>
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#About-Me">About Me</a></li>
                        <li><a href="#WhatIdo">What I do</a></li>
                        <li><a href="#Resume">Resume</a></li>
                        <li><a href="#Portfolio">Portfolio</a></li>
                        <li><a href="#Testimonial">Testimonial</a></li>
                        <li><a href="#Contact">Contact</a></li>
                    </ul>

                </div>


                <div class="shadow">
                </div>
                <div class="bir">
                    <p>Welcome</p>
                    <h1>I'm Cahangirov Nurlan</h1>
                    <p>based in Baku</p>
                    <button>Hire me</button>
                    <div class="down"><a href="#About-Me"><i class="fas fa-chevron-down"></i></a></div>

                </div>
            </div>

        </div>
        </div>
    </section>
    <section id="About-Me">
        <div class="container">

            <div class="header">
                <div class="shodow1"></div>
                <div class="arxa">ABOUT ME</div>

                <h1>Know Me More</h1>
                <div class="span"> <span></span></div>

                <div class="bolumm">
                    <div class="metnn">
                        <div class="yazi">
                            <h2>Im &nbsp; </h2>
                            <div class="ad">
                                <h2> Cahangirov Nurlan,</h2>

                            </div>

                            <h2> a Web Devoloper</h2>
                        </div>
                        <div class="paragraf">
                            <p>I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to
                                make a type specimen book.</p>
                            <p>Delivering work within time and budget which meets client’s requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.
                            </p>
                        </div>

                    </div>
                    <div class="inputs">
                        <div> <input type="text" placeholder="Name: Cahangirov Nurlan"></div>
                        <div><input type="email" placeholder="Mail: Nurlanrecebov86@gmailcom"></div>
                        <div> <input type="text" placeholder="Age:24"></div>
                        <div> <input type="text" placeholder="From:Baku"></div>
                        <div class="button"> <button><a href="#">
                                <p>Download CV</p>
                            </a></button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="WhatIdo">
        <div class="container">

            <div class="header">
                <div class="shodow1"></div>
                <div id="arxa" class="arxa">SERVICES</div>
                <h1>What I Do?</h1>
                <div class="span"> <span></span></div>
                <div class="tam">
                    {% for xeber in xeberler %}
                    <div class="bolum">
                        <div class="uploads">
                            <img src="../static/uploads/{{xeber.n_img}}" alt="" style="width: 200px;">
                        </div>
                        <div class="xeber-item">
                            <h2>{{xeber.n_ad}}</h2>
                            <p>{{xeber.n_paragraf}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
    <section id="Resume">
        <div class="container">
            <div class="header ">

                <div class="shodow1 "></div>
                <div id="arxa" class="arxa ">SUMMARY</div>
                <h1>Resume</h1>
                <div class="span "> <span></span></div>
                <div class="movcud ">
                    <div class=" ">
                        <div class="one ">
                            {% for task in tasklar %}
                            <div class="qutu ">
                                <span>{{task.n_date}}</span>
                                <h2>{{task.n_ixtisas}}</h2>
                                <h3>{{task.n_universtet}}</h3>
                                <p>{{task.n_haqqinda}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>


        </div>
    </section>
    <section id="Portfolio">
        <div class="container">
            <div class="header ">
                <div class="shodow1 "></div>
                <div class="arxa ">PORTFOLIO</div>
                <h1>My Work</h1>
                <div class="span "> <span></span></div>
                <div class="photo ">
                    <ul>
                        <li>
                            <a href="# ">All</a>
                        </li>
                        <li>
                            <a href="# ">Design</a>
                        </li>
                        <li>
                            <a href="# ">Brand</a>
                        </li>
                        <li>
                            <a href="# ">Photos</a>
                        </li>
                    </ul>
                </div>

                <div class="resimler">

                    <div class="resim ">
                        {% for emr in emrler %}
                        <div> <img src="../static/uploads/{{emr.n_img}}" alt=""></div>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>

    </section>
    <section id="Testimonial">
        <div class="container">
            <div class="header ">
                <div class="shodow1 "></div>
                <div class="arxa ">Testimonial</div>
                <h1>Client speak</h1>
                <div class="span "> <span></span></div>
                <div id="slide " class="clents ">
                    <div id="slider1 " class="client ">
                        {% for test in testler %}
                        <div class="ha ">
                            <div class="cle1 ">
                                <img src="../static/uploads/{{test.n_img}}" alt="">
                                <div>
                                    <a href="https://github.com/GulsenZalova">
                                        <h2>{{test.n_ad}}</h2>
                                    </a>
                                    <h3>{{test.n_adress}}</h3>
                                </div>
                            </div>
                            <p>{{test.n_paragraf}}</p>
                            <!-- <div class="stars ">
                                <ul>
                                    <li><i class=""></i></li>

                                </ul>
                            </div> -->
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="Contact">
        <div class="container">
            <div class="header ">
                <div class="shodow1 "></div>
                <div class="arxa ">Contact</div>
                <h1>Get in Touch
                    <div class="span "></div>
                </h1>
                <div class="complete ">
                    <div class="Tam ">
                        <div class="adress ">
                            <p>Adress</p>
                            <p>Azerbaycan Baku Binagadi
                                <p>
                        </div>
                        <div class="nomre ">
                            <i class="fas fa-phone-square "></i>
                            <p>(+994) 514170616</p>
                        </div>
                        <div class="mail ">
                            <i class="far fa-envelope "></i>
                            <p>Nurlanrecebov86@gmail.com</p>
                        </div>
                        <div class="Fol ">
                            <p>FOLLOW ME</p>
                            <ul>
                                <li>
                                    <a href="https://wa.me/+994514170616"><i class="fa-brands fa-whatsapp"></i></a>
                                    <a href="https://instagram.com/man_jahangiroff?utm_medium=copy_link"><i class="fa-brands fa-instagram"></i></a>

                                    <a href="https://github.com/nurlan-recebov"><i class="fa-brands fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ikinc ">
                        <div class="send ">
                            <p>SEND US A NOTE</p>
                        </div>
                        <div class="soninput ">
                            <form action="/users" method="POST">
                                <div class="labelinput ">
                                    <input type="text " placeholder="Ad" name='ad'>
                                    <input type="text " placeholder="Username" name='soyad'>
                                </div>
                                <div class="textarea">
                                    <label for="textarea "></label>
                                    <textarea name='textarea' id="textarea" cols="0 " rows="0 " placeholder="Tell us more about your needs " required></textarea>
                                </div>
                                <div>
                                    <div class="button1 "> <button type="submit ">
                                    <p>Gonder</p>
                                </button></div>
                                </div>
                            </form>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </section>
    <section id="end">
        <div class="container">
            <div class="header "> </div>
            <div class="endd ">
                <div class="end1 ">
                    <div>Copyright © 2021</div>
                    <div class="Nurlan ">Nurlan</div>
                    <div>. All Rights Reserved.</div>
                </div>
                <div class="end2 ">
                    <div>Terms&Policy</div>
                    <div>Disclamier</div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="../static/javascript.js "></script>
    </div>

</body>

</html>